.navbar-fixed-top {
    margin-top: 20px;
}

#mainbody {
    padding-top: 80px;
    padding-bottom: 80px;
}

#mainframe {
    position: fixed;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
}

#mainframe .container {
    height: 100%;
}

#mainframe .row {
    height: 100%;
}

#content-row {
    height: 100%;
}

#comment-row {
    height: 100%;
}

.frame {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.scroll {
    overflow: hidden;
}

#player-scroll {
    height: 100%;
}

#canvas-frame {
    height: 100%;
    background: rgba(0, 0, 0, 0.018);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 3px;

    z-index: 1500;

    cursor: crosshair;

    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

#comment-list-frame {
    height: 50%;
    width: 100%;
    border: 1px #7f7 solid;
}

#single-comment {
    height: 50%;
    overflow: hidden;
}

#comment-detail-frame {
    height: 200%;
    width: 100%;
    border: 1px #77f solid;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
}

#a-comment {
    height: 50%;

    -moz-user-select: all; /*火狐*/
    -webkit-user-select: all;  /*webkit浏览器*/
    -ms-user-select: all;   /*IE10*/
    -khtml-user-select: all; /*早期浏览器*/
    user-select: all;
}

#new-comment {
    height: 50%;
}

#new-comment>form {
    width: 100%;
    height: 100%;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */

    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -75%; /* 9 columns */
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -75%; /* 9 columns */
    }

    .row-offcanvas-right.active {
        right: 75%; /* 9 columns */
    }

    .row-offcanvas-left.active {
        left: 75%; /* 9 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 75%; /* 9 columns */
    }
}

.navbar-toggle {
    float: left;
}

#offcanvas-toggle {
    padding: 15px 15px;
}

.content-pic {
    width: 100%;
}

#new-comment-textarea {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5px;
}

#new-comment-buttons {
    width: 25%;
    float: left;
    padding: 5px;
}

#new-comment-textarea>textarea {
    height: 100%;
    width: 100%;
}

#selected {
    position: fixed;
    border: 1px #f00 solid;
    display: none;
    z-index: 1005;
}

.balloon-laid {
    position: absolute;
    border: 1px rgba(155, 155, 255, 0.5) solid;
    background: rgba(233, 233, 255, 0.2);
    border-radius: 3px;
    padding: 3px;
    z-index: 1007;
    cursor: crosshair;
}

.comment {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border: 1px rgba(155,155,255,0.5) solid;
    background: rgba(233,233,255,0.2);
    padding: 5px;
}